* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #171c28
}

.container {
    width: 80%;
    margin: auto;
}

.bar .container {
    padding-top: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-links {
    list-style: none;
    display: flex;
    font-size: 1.5em;
}

.nav-links a {
    text-decoration: none;
    margin-left: 2em;
}

.logo {
    font-size: 3em;
}

.app {
    padding-top: 2em;
    display: flex;
}

.ide {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.editor {
    background-color: #090c13;
    margin-bottom: 1em;
    height: 35em;
    border: none;
    resize: none;
    outline: none;
}

.output {
    background-color: #090c13;
    border: none;
    resize: none;
    outline: none;
    height: 26em;
}

.users {
    background-color: #090c13;
    width: 15em;
}
