<!DOCTYPE html>

<head>
    <title>DevCast</title>
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="ide.css">
    
</head>

<body>

    <nav class="bar">
        <div class="container">
            <p class="logo">DevCast</h1>
            <ul class="nav-links">
                <li><a href="#profile">Profile</a></li>
                <li><a href="#home">About</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <section class="app">
            <section class="ide">
                <textarea class="editor"></textarea>
                <textarea class="output"></textarea>
            </section>

            <div class="users">

            </div>
            
        </section>
    </div>
</body>