@import url('https://fonts.googleapis.com/css?family=Lato:700,900&display=swap%27');
.home {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.link {
  text-decoration: none;
  color: white;
}

.foot {
  background-color: white;
  height: 50vh;

  padding-top: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.but {
  width: 10vw;
}

.content {
  
  padding-top: 10vh;
  margin-top: auto;
  height: 100%;
  padding-bottom: 15vh;
}

.row-full{
 width: 100vw;
 position: relative;
 margin-left: -50vw;
 left: 50%;
}

.picture {
  width: 100%;
  height: auto;
  padding-top: 0;
  
}